$color-primary: #46f8bf;
$color-background: #111517;
$color-dark: #1b2a2f;
$color-background-light: #687583;
$font-color-text-light: #fff;
$font-color-text-mid: #a1a1a1;
$toast-color-background-success: #eaf1ee;
$toast-color-progress-success: #65db61;
$toast-color-background-error: #ffefef;
$toast-color-progress-error: #d65745;
