$color-primary: #364555;
$color-primary-light: #687583;
$color-secondary: #db6f61;
$color-error-light: #ffefef;
$color-main-background: #111517;
$font-color-heading: #46f8bf;
$font-color-text-light: #fff;
$font-color-text-mid: #a1a1a1;
$font-color-text-dark: #1b2a2f;
$toast-color-background-success: #eaf1ee;
$toast-color-progress-success: #65db61;
$toast-color-background-error: #ffefef;
$toast-color-progress-error: #d65745;
