@use "../../styles/variables/colors";
@use "../../styles/utils";

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 750px;

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    gap: 15px;

    &:last-of-type {
      margin-bottom: 60px;
    }
  }

  &__label {
    font-size: utils.pxToRem(20);
  }

  &__input {
    height: 50px;
    border-bottom: 1px solid colors.$font-color-text-dark;

    &:focus {
      outline: 1px solid colors.$font-color-text-dark;
    }
  }
}
