@use "../../styles/variables/colors";
@use "../../styles/utils";

.add-user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  gap: 50px;
  padding: 40px 20px;
  background-color: white;

  &__title {
    justify-content: center;
    font-size: utils.pxToRem(25);
    color: colors.$font-color-text-dark;

    @media (min-width: 700px) {
      font-size: utils.pxToRem(64);
    }
  }
}
