@use "../../styles/variables/colors";
@use "../../styles/utils";

.button {
  padding: 15px 60px;
  font-size: utils.pxToRem(16);
  text-transform: uppercase;

  &--outlined {
    color: colors.$color-primary;
    background-color: colors.$color-background;
    border: 1px solid colors.$color-primary;
  }

  &:disabled {
    color: colors.$font-color-text-light;
    background-color: colors.$color-background-light;
    border: none;
  }
}
