@use "../../styles/variables/colors";
@use "../../styles/utils";

.users-table {
  width: 100%;
  max-width: 750px;

  &__title {
    justify-content: center;
    text-align: left;
    font-weight: 200;
    color: colors.$font-color-text-light;
    caption-side: bottom;
    padding: 20px 7%;
  }

  &__head {
    font-size: utils.pxToRem(20);
    text-align: left;
    color: colors.$color-primary;
  }

  &__row {
    height: 75px;

    :first-child {
      text-align: center;
      height: 75px;
    }
  }

  &__number {
    font-size: utils.pxToRem(18);
    color: colors.$color-primary;
    min-width: 30px;
    border-bottom: 1px solid colors.$color-primary;
  }

  &__name {
    text-transform: uppercase;
    border-bottom: 1px solid colors.$color-primary;
  }

  &__email {
    @media (max-width: 700px) {
      min-width: 70px;
      white-space: pre-wrap;
      word-break: break-word;
    }
  }

  &__email,
  &__username,
  &__footer-cell,
  &__name {
    color: colors.$font-color-text-light;
    border-bottom: 1px solid colors.$color-primary;
  }
}
