@use "../variables/colors";

.Toastify {
  &__toast {
    &--success {
      background-color: colors.$toast-color-background-success;
    }

    &--error {
      background-color: colors.$toast-color-background-error;
    }
  }

  &__progress-bar {
    &--success {
      background-color: colors.$toast-color-progress-success;
    }

    &--error {
      background-color: colors.$toast-color-progress-error;
    }
  }

  &__close-button {
    align-self: center;
    width: 48px;
    height: 48px;
  }
}
